<p>Posts#index, find me in app/views/posts/index.html.erb</p>
<h3>List of all posts:</h3>
<ul>
<% @posts.each do |p| %>
    <li><p><strong><%= link_to p.title, p %></strong></p>
    <p><%= p.body %></p></li>
<% end %>
</ul>
    <hr/>
<p><h3><strong><%= link_to "Create new post", new_post_path %></strong></h3></p>
<br />