<div class="container">
    <h2><strong>Listing all posts:</strong></h2><br/>

    <!-- With tiles, must be done in groups -->
    <% @posts.in_groups_of(3, false) do |posts| %>
        <div class="tile is-ancestor">
            <% posts.each do |post| %>
                <div class="tile is-parent is-horizontal is-3">
                    <article class="tile is-child notification is-success">
                        <p><%= link_to post.title, post %></p>
                        <p><%= post.body %></p>
                    </article>
                </div>
            <% end %>
        </div>
    <% end %>

    <button class="button is-medium is-transparent has-text-weight-bold">
        <%= link_to "Create new post", new_post_path %>
    </button>
</div>

<div class="columns">
<div class="column is-12">
    <!-- content -->
    <div class="content">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <p class="content is-small">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <p class="content is-medium">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <p class="content is-large">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>

    <!-- Headings -->
    <div class="block">
        <h1 class="title">Hello World<h1>
        <h2 class="subtitle">Subtitle<h2>
    </div>

    <!-- sizes -->
    <div class="container">
        <h1 class="title is-1">Hello World<h1>
        <h1 class="title is-2">Hello World<h1>
        <h1 class="title is-3">Hello World<h1>
        <h1 class="title is-4">Hello World<h1>
        <h1 class="title is-5">Hello World<h1>
        <h1 class="title is-6">Hello World<h1>

        <h2 class="subtitle is-1">Subtitle<h2>
        <h2 class="subtitle is-2">Subtitle<h2>
        <h2 class="subtitle is-3">Subtitle<h2>
        <h2 class="subtitle is-4">Subtitle<h2>
        <h2 class="subtitle is-5">Subtitle<h2>
        <h2 class="subtitle is-6">Subtitle<h2>
    </div>

    <div style="margin-top:100px"></div>

    <!-- button -->
    <div class="block">
        <button>classless</button>
        <button class="button">class="button"</button>
        <button class="button is-info">is-info</button>
        <button class="button is-primary">is-primary</button>
        <button class="button is-success">is-success</button>
        <button class="button is-warning">is-warning</button>
        <button class="button is-danger">is-danger</button>
    </div>

    <div class="block">
        <button>classless</button>
        <button class="button is-outlined">class="button"</button>
        <button class="button is-hovered">is-hovered</button>
        <button class="button is-focused">is-focused</button>
        <button class="button is-active">is-active</button>
        <button class="button is-loading">is-loading</button>
        <button class="button" disabled>disabled</button>        
    </div>

    <div class="block">
        <button>classless</button>
        <button class="button">class="button"</button>
        <button class="button is-link">is-link</button>
        <button class="button is-white">is-white</button>
        <button class="button is-light is-small">is-light</button>
        <button class="button is-dark is-medium">is-dark</button>
        <button class="button is-black is-large">is-black</button>
    </div>

    <div class="block">
        <p>is-inverted</p>
        <button>classless</button>
        <button class="button is-inverted">class="button"</button>
        <button class="button is-inverted is-link">is-link</button>
        <button class="button is-inverted is-white">is-white</button>
        <button class="button is-inverted is-light is-small">is-light</button>
        <button class="button is-inverted is-dark is-medium">is-dark</button>
        <button class="button is-inverted is-black is-large">is-black</button>
    </div>

    <div class="block">
        <p>is-outlined</p>
        <button>classless</button>
        <button class="button is-outlined">class="button"</button>
        <button class="button is-outlined is-link">is-link</button>
        <button class="button is-outlined is-white">is-white</button>
        <button class="button is-outlined is-light is-small">is-light</button>
        <button class="button is-outlined is-dark is-medium">is-dark</button>
        <button class="button is-outlined is-black is-large">is-black</button>
    </div>

    <div class="block">
        <p>tags</p>
        <span>classless span</span>
        <span class="tag">class="tag"</span>        
        <span class="tag is-link">is-link</span>
        <span class="tag is-white">is-white</span>
        <span class="tag is-light">is-light</span>
        <span class="tag is-dark">is-dark</span>
        <span class="tag is-black">is-black</span>
        <span class="tag is-info">is-info</span>
        <span class="tag is-primary">is-primary</span>
        <span class="tag is-success is-small">is-success<button class="delete"></button></span>
        <span class="tag is-warning is-medium">is-warning <button class="delete"></button></span>
        <span class="tag is-danger is-large">is-danger</span>
    </div>
    
    <div style="margin-top:50px"></div>

    <!-- box -->
    <div class="block">
        <div class="box">
            <h2 class="title is-4">box</h2>
            <p><button class="delete"></button>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>            
        </div>
    </div>

    <!-- notification -->
    <div class="block">
        <div class="notification">
            <h2 class="title is-4">notification</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<button class="delete"></button></p>
        </div>
    </div>
    
    <div class="block">
        <div class="notification is-primary">
            <h2 class="title is-4">notification</h2>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<button class="delete"></button>
        </div>
    </div>

    <div class="block">
        <div class="notification is-info">
            <h2 class="title is-4">notification</h2>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<button class="delete"></button>
        </div>
    </div>

    <div class="block">
        <div class="notification is-success">
            <h2 class="title is-4">notification</h2>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<button class="delete"></button>
        </div>
    </div>

    <div class="block">
        <div class="notification is-warning">
            <h2 class="title is-4">notification</h2>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<button class="delete"></button>
        </div>
    </div>

    <div class="block">
        <div class="notification is-danger">
            <h2 class="title is-4">notification</h2>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<button class="delete"></button>
        </div>
    </div>

    <!-- message -->
    <div class="block">
        <article class="message">
            <div class="message-header">
                message <button class="delete"></button>
            </div>
            <div class="message-body">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </div>
        </article>
    
        <article class="message is-primary">
            <div class="message-header">
                message <button class="delete"></button>
            </div>
            <div class="message-body">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </div>
        </article>

        <article class="message is-info">
            <div class="message-header">
                message <button class="delete"></button>
            </div>
            <div class="message-body">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </div>
        </article>

        <article class="message is-warning">
            <div class="message-header">
                message <button class="delete"></button>
            </div>
            <div class="message-body">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </div>
        </article>

        <article class="message is-danger">
            <div class="message-header">
                message <button class="delete"></button>
            </div>
            <div class="message-body">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </div>
        </article>   
    </div>

    <!-- navbar 1 -->
    <div class="container">
        <nav class="navbar">
            <div class="navbar-start navbar-menu is-active">
                <a href="#" class="navbar-item">slicebook</a>
                <a href="#" class="navbar-item">hibook</a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a href="#" class="navbar-link">More</a>
                    <div class="navbar-dropdown">
                        <a href="#" class="navbar-item">Home</a>
                        <a href="#" class="navbar-item">About</a>
                        <a href="#" class="navbar-item">Contact</a>
                    </div>
                </div>
            </div>

            <div class="navbar-item">
                <a href="#" class="navbar-item">Sign Up</a>
                <a href="#" class="navbar-item">Sign In</a>                
            </div>
        </nav>
    </div>

    <div style="margin-bottom:120px"></div>

    <!-- navbar from bulma website -->
    <div class="container">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="https://bulma.io">
                <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
                </a>

                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                <a class="navbar-item">Home</a>

                <a class="navbar-item">Documentation</a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">More</a>

                    <div class="navbar-dropdown">
                    <a class="navbar-item">About</a>
                    <a class="navbar-item">Jobs</a>
                    <a class="navbar-item">Contact</a>
                    <hr class="navbar-divider">
                    <a class="navbar-item">Report an issue</a>
                    </div>
                </div>
                </div>

                <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary"><strong>Sign up</strong></a>
                        <a class="button is-light">Log in</a>
                    </div>
                </div>
                </div>
            </div>
        </nav>
    </div>

    <div style="margin-bottom:180px"></div>

    <!-- Vertical menu -->
    <div class="container">
        <aside class="menu">
            <p class="menu-label">Label A</p>
            <ul class="menu-list">
                <li><a href="">link 1</a></li>
                <li><a href="">link 2</a></li>
                <li><a href="">link 3</a></li>
            </ul>

            <p class="menu-label">Label B</p>
            <ul class="menu-list">
                <li><a href="" class="menu-label">Label B1</a>
                    <ul>
                        <li><a>Invitations</a></li>
                        <li><a>Cloud Storage Environment Settings</a></li>
                    </ul>
                </li>
                <li><a href="" class="menu-label">Label B2</a>
                    <ul class="menu-list">
                        <li><a href="">link 4</a></li>
                        <li><a href="">link 5</a></li>
                    </ul>                
                <li><a>Authentication</a></li>
                </li>
            </ul>
        </aside>
    </div>

    <!-- hero -->
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">Hero Title</h1>
                <h2 class="subtitle">section class="hero is-primary"</h2>
            </div>
        </div>
    </section>
    
    <section class="hero is-info">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">Hero Title</h1>
                <h2 class="subtitle">section class="hero is-info"</h2>
            </div>
        </div>
    </section>

    <section class="hero is-success">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">Hero Title</h1>
                <h2 class="subtitle">section class="hero is-success"</h2>
            </div>
        </div>
    </section>

    <section class="hero is-warning">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">Hero Title</h1>
                <h2 class="subtitle">section class="hero is-warning"</h2>
            </div>
        </div>
    </section>

    <section class="hero is-danger">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">Hero Title</h1>
                <h2 class="subtitle">section class="hero is-danger"</h2>
            </div>
        </div>
    </section>

    <!-- card 1 -->
        <div class="card">
            <div class="card-content">
                <p class="subtitle is-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<button class="delete"></button></p>
            </div>

            <div class="card-footer">
                <div class="card-footer-item">
                    <p>card footer</p>
                </div>
                <div class="card-footer-item">
                    <p>card footer</p>
                </div>
            </div>
        </div>

    <!-- card 2 -->
    <div class="card">
        <div class="card-image">
            <figure class="image is-4by3">
            <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
            </figure>
        </div>
        <div class="card-content">
            <div class="media">
            <div class="media-left">
                <figure class="image is-48x48">
                <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                </figure>
            </div>
            <div class="media-content">
                <p class="title is-4">John Smith</p>
                <p class="subtitle is-6">@johnsmith</p>
            </div>
            </div>

            <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Phasellus nec iaculis mauris. <a>@bulmaio</a>.
            <a href="#">#css</a> <a href="#">#responsive</a>
            <br>
            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
            </div>

            <footer class="card-footer">
                <a href="#" class="card-footer-item">Save</a>
                <a href="#" class="card-footer-item">Edit</a>
                <a href="#" class="card-footer-item">Delete</a>
        </footer>
        </div>
    </div>

        <!-- pagination -->
        <div class="container">
            <nav class="pagination">
                <a href="" class="pagination-previous" disabled>Previous</a>
                <a href="" class="pagination-next">Next page</a>
                <ul class="pagination-list">
                    <li><a href="" class="pagination-link is-current">1</a></li>
                    <li><a href="" class="pagination-link">2</a></li>
                    <li><a href="" class="pagination-link">3</a></li>
                </ul>
            </nav>
        </div>

        <!-- content -->
        <div class="container">
            <form>
                <div class="field">
                    <label class="label">Label</label>
                    <input type="text" class="input" Placeholder="Enter text">
                </div>
            </form>

            <form>
                <div class="field">
                    <label class="label">Label</label>
                    <input type="text" class="input is-success" Placeholder="Enter text">
                </div>
            </form>

            <form>
                <div class="field">
                    <label class="label">Label</label>
                    <input type="text" class="input is-danger" Placeholder="Enter text">
                </div>
            </form>
        </div>

        <!-- drop-down -->
        <div class="container">
            <form>
                <div class="field">
                    <label class="label">Drop-down</label>  
                    <p class="control">
                        <span class="select">
                            <select>
                                <option>First line</option>
                                <option>Second line</option>
                                <option>3rd line</option>
                                <option>4th line</option>
                            </select>
                        </span>
                    </p>      
                </div>
            </form>
        </div>

        <!-- text area -->
        <div class="container">
            <form>
                <div class="field">
                    <label class="label">Text area</label>  
                    <p class="control">
                        <textarea class="text-area" Placeholder="text"></textarea>
                    </p>      
                </div>
            </form>
        </div>

        <!-- text area with adons -->
        <div class="container">
            <label class="label">Text area with adons</label>
            <div class="field has-adons is-horizontal">

                <div class="control">
                    <span class="select">
                        <select>
                            <option>$</option>
                            <option>#</option>
                        </select>
                    </span>
                </div>

                <div class="control">
                    <input class="input" type="text" Placeholder="Amount">
                </div>

                <div class="control">
                    <a href="" class="button is-info">Pay</a>
                </div>
            </div>
        </div>
        
        <div class="container">
            <div class="field has-addons">
                <div class="control">
                    <span class="select">
                        <select>
                            <option>$</option>
                            <option>#</option>
                        </select>
                    </span>
                </div>
                <div class="control">
                    <input class="input" type="text" placeholder="Find a repository">
                </div>
                <div class="control">
                    <a class="button is-info">Search</a>
                </div>
            </div>
        </div>

        <!-- columns -->
        <%# <div class="container"> %>
            <div class="columns">
                <div class="column is-2">
                    <p class="notification is-info">is-2</p>            
                </div>
                <div class="column is-6">
                    <p class="notification is-warning">is-6</p>
                </div>
                <div class="column">
                    <p class="notification is-success">Auto</p>
                </div>
            </div>
    </div>
</div></div>
