<div class="container">
    <h2><strong>Listing all posts:</strong></h2>
    <br/>
    <ul>
    <% @posts.each do |p| %>
        <li><p><%= link_to p.title, p %></p>
        <p><%= p.body %></p></li>
    <% end %>
    </ul>
    <hr/>
    <button class="button is-medium is-transparent has-text-weight-bold">
        <%= link_to "Create new post", new_post_path %>
    </button>
</div>
