<div class="container">

    <h3><strong>Listing all categories:</strong></h3>
    <br/>
    <ul>
    <% @categories.each do |cat| %>
        <li><%= link_to cat.name, cat%></li>
    <% end %>
    </ul>
    <hr/>
    <button class="button is-medium is-transparent has-text-weight-bold">
        <%= link_to "Create new category", new_category_path %></p>
    </button>
</div>