<p>Categories#show, find me in app/views/categories/show.html.erb</p>
<p>All existing posts in <strong><%= @category.name %></strong>:</p>
<ul>
<% @category_posts.each do |cat_post|%>
    <li><%= link_to cat_post.title, cat_post %></li>
<% end %>
</ul>

<p><%= link_to "Go To All Categories", categories_path %></p>