<% flash.each do |key, value| %>
    <% key == 'notice' ? key = "success" : key = "danger" %>
    <div class="message is-<%= key %> has-text-centered is-marginless" id="flashMessage">
        <div class="message-body is-borderless">       
        <%= value %>
        <button class="delete" aria-label="delete" id="deleteFlashMessage"></button>
        </div>
    </div>
<% end %>